@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Space Grotesk';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app {
  background-color: #1B191C;
  overflow: auto;
}

#header {
  height: 490px;
  background: #EEEEEE;
  margin: 0.75rem;
}

.container {
  max-width: 1336px;
  margin: 0 auto;
}

.header-box {
  display: flex;
  align-items: center;

}

.header-box__right {
  padding-top: 40px;
}

.header-box__right>h1 {
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1px;
  width: 492px;
  height: 156px;
}

.header-box__right>h4 {
  font-size: 24px;
  line-height: 32px;
  width: 492px;
  margin-top: 1.5em;
  letter-spacing: -0.4px;
  margin-bottom: 11.375rem;
  font-weight: 300;
}

.header-box__right>p {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.header-box__right>p>a {
  text-decoration: none;
  color: #000;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: -0.3px;

}

.player {
  display: none;
}

.how-it-works {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}

.how-it-works>* {
  color: white;
}

.how-it-works__text-block {
  max-width: 672px;
}

.how-it-works__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1px;
  margin-bottom: 40px;
}

.how-it-works__p {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  letter-spacing: -0.4px;
}

.tech-requirements {
  margin-top: 120px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: white;
}

.table-container {
  color: white;
}

.tabs {
  margin-bottom: 20px;

}

tbody {
  width: 100%;
}

.tab {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  color: #CFD3D6;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  background-color: inherit;
}

.tab.active {
  color: #F5F6F7;
  text-decoration: underline;
}

.table-container {
  margin-top: 20px;
  width: 100%;
  overflow-x: auto;
}

.myTable {
  width: 100%;
  border-collapse: collapse;
  color: white;
  margin-top: 40px;
  margin-bottom: 130px;
}

.myTable td {
  padding: 8px;
  border-bottom: 1px solid rgba(207, 211, 214, 0.1);
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  white-space: nowrap;
}

.amazon-instance {
  display: none;
}

@media screen and (max-width: 568px) {
  #header {
    /* height: 490px; */
    background: #EEEEEE;
    margin: 0px;
  }

  .header-box {
    display: block;
    position: relative;
  }

  .container {
    max-width: 296px;
    margin: 0 auto;
  }

  .header-box__right {
    padding-top: 0;
  }

  .header-box__right>h1 {
    height: auto;
    width: auto;
    padding-top: 20px;
    font-weight: 400;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -0.4px;
  }

  .header-box__right>h4 {
    height: auto;
    width: auto;
    margin-top: 196px;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 0px;
  }
  .header-box__right>p {
    height: auto;
    width: auto;
    font-size: 12px;
    margin-top: 12px;
  }
  #root{
    position: absolute;
    top: 170px;
  }
}